<!DOCTYPE html>
<html>
  <head>
    <title>Midiframe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <h1><%= params[:controller].upcase %></h1>
    <div id="page_content">
      <%= yield %>
    </div>
   <%# this div below is meant to replace the "page_content" above when a form is laoding. This really helps for UX in long upload times.%>
    <div id="loading_bar" class="hidden"> 
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
  </body>
</html>
